<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FocalView (Release).ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
				<key>dateExpires</key>
				<string>07/04/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AssessmentModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BinocularVisionInstrument.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
								<key>dateExpires</key>
								<string>07/04/2021</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>BrightInsightKit.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>EDK9ZH3WPY</string>
								<key>name</key>
								<string>BlueBridge Technologies Limited</string>
							</dict>
						</dict>
					</array>
					<key>name</key>
					<string>BrightInsightKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CongratulationsModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DashboardModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DecisionKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DistanceKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GBDeviceInfo_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>InClinicModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Insider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KDTree.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LandoltModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Logger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LoginModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ModuleKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MonocularVisionInstrument.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
								<key>dateExpires</key>
								<string>07/04/2021</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>NovartisKit.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>EDK9ZH3WPY</string>
								<key>name</key>
								<string>BlueBridge Technologies Limited</string>
							</dict>
						</dict>
					</array>
					<key>name</key>
					<string>NovartisKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectiveCV.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PersistenceKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PositioningModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PracticeModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ProtocolKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QuestionnaireInstructionsModule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QuestionnaireInstrument.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Resolver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SharedModels.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftCV.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TinyConsole.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Viper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33AAA988B4F71A640D7AB5ED204E1D8069FF3C69</string>
						<key>dateExpires</key>
						<string>07/04/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Willow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EDK9ZH3WPY</string>
						<key>name</key>
						<string>BlueBridge Technologies Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EDK9ZH3WPY.com.bluebridgetech.focalview.app.release</string>
				<key>com.apple.developer.default-data-protection</key>
				<string>NSFileProtectionCompleteUnlessOpen</string>
				<key>com.apple.developer.team-identifier</key>
				<string>EDK9ZH3WPY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FocalView.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8e645d52-b850-4899-9604-414b1b76f89d</string>
				<key>name</key>
				<string>match AdHoc com.bluebridgetech.focalview.*</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EDK9ZH3WPY</string>
				<key>name</key>
				<string>BlueBridge Technologies Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
